@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .home {
        flex-direction: column;
        .article-home {
            align-items: end;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
            .container-presentation {
                justify-content: end;
                width: 100%;
                height: 60%;
            }
            .conatiner-enlace {
                width: 100%;
                height: 40%;
            }
        }
        .aside-home {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 100%;
            .backgraund-img {
                overflow: hidden;
                img {
                    width: 360%;
                }
            }
        }
    }

    .bio {
        .aside-bio {
            align-items: center;
            width: 100%;
            height: 100%;
            .title-principal {
                align-items: start;
                width: 100%;
                height: 10%;
                padding-left: 35px;
                h2 {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
            }
            .backgraund-img {
                bottom: 0;
                width: 100%;
                height: 90%;
                align-items: end;
                .img-background {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .article-bio {
            align-items: center;
            padding: 60px 10px;
            width: 100%;
            height: 100%;
            .title-principal {
                width: 100%;
            }
            .container-text {
                width: 100%;
                .text-lorem {
                    align-items: end;
                }
            }
        }
    }

    .experience {
        .article-experience {
            .slider {
                flex-direction: column;
                padding: 10px;
                .container-text {
                    max-width: 370PX;
                    width: 100%;
                    height: auto;
                    .title-principal{
                        width: 100%;
                        max-height: 94px;
                        height: 100%;
                        h2 {
                            margin: 10px;
                        }
                    }
                    .sub-container {
                        .text-lorem {
                            width: 100%;
                            max-height: 94px;
                            height: 100%;

                        }
                    }
                }
            }
        }
    }

    .jobs {
        .article-jobs {
            .title-principal {
                width: 100%;
                height: 15%;
                padding-left: 35px;
            }
            .parent {
                padding: 10px;
            }
        }
    }

    .services {
        .article-services {
            width: 100%;
            height: 15%;
            .title-principal {
                padding-left: 35px;
            }
        }
        .aside-services {
            width: 100%;
            height: 85%;
            .slider {
                justify-content: start;
                width: 100%;
                height: 100%;
                overflow-x: scroll;
                .element-slider {
                    min-width: 380px;
                    width: 100%;
                    max-height: 700px;
                    height: 100%;
                }
            }
        }
    }

    .contact {
        flex-direction: column;
        .article-contact {
            width: 100%;
            height: 50%;
            .title-principal {
                padding-left: 35px;
            }
            .container-social {
                .buttons-social {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    height: 70%;
                    .icons-social {
                        max-width: 80px;
                        width: 100%;
                        height: auto;
                    }
                    .facebook-icon {
                        padding: 5px;
                    }
                }
            }
        }
        .aside-contact {
            padding: 10px;
            width: 100%;
            height: 50%;
            .contact-form {
                padding: 10px;
                min-width: 280px;
                width: 100%;
                max-height: 400px;
                height: 100%;
                h3 {
                    height: 20%;
                    padding: 10px;
                    margin-bottom: 0;
                }
                form {
                    height: 80%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    
    .home {
        .article-home {
            width: 100%;
            height: auto;
            .container-presentation {
                height: auto;
            }
        }
        .aside-home {
            width: 100%;
            height: auto;
            .backgraund-img {
                img {
                    height: auto;
                }
            }
        }
    }

    .bio {
        .aside-bio {
            width: 100%;
            .title-principal {
                align-items: start;
                width: 100%;
                height: 30%;
            }
            .backgraund-img {
                width: 100%;
                height: 70%;
                align-items: end;
            }
        }

        .article-bio {
            width: 100%;
            padding: 20px;
        }
    }

    .experience {
        .article-experience {
            flex-direction: column;
            .slider {
                flex-direction: row;
                .container-text {
                    max-width: 320px;
                    width: 100%;
                    height: auto;
                    .sub-container {
                        .text-lorem {
                            width: 100%;
                            min-height: 64px;
                            height: 100%;
    
                        }
                    }
                }
            }
        }
    }

    .jobs {
        article {
            .title-principal {
                padding-left: 20px;
            }
        }
    }

    .services {
        .article-services {
            .title-principal {
                padding-left: 20px;
            }
            ul {
                flex-direction: column;
                height: auto;
                li {
                    max-width: 90%;
                    max-height: auto;
                }
            }
        }
    }

    .contact {
        flex-direction: row;
        .article-contact {
            width: 50%;
            height: 100%;
            .title-principal {
                padding-left: 20px;
            }
        }
        .aside-contact {
            width: 50%;
            height: 100%;
            padding: 25px 25px 25px 0;
        }
    }
}

@media only screen and (max-width: 428px) {
    
    .jobs {
        .article-jobs {
            .title-principal {
                width: 100%;
                height: 15%;
                padding-left: 35px;
            }
            
            .parent {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(8, 1fr);
                gap: 5px;
                .img1 {
                    grid-column: span 2 / span 2;
                    grid-row: span 2 / span 2;
                    grid-column-start: 1;
                }
                
                .img2 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-column-start: 3;
                }
                
                .img3 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-row-start: 3;
                }
                
                .img4 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-row-start: 3;
                }
                
                .img5 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-row-start: 3;
                }
                
                .img6 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-row-start: 5;
                }
                
                .img7 {
                    grid-column: span 2 / span 2;
                    grid-row: span 2 / span 2;
                    grid-row-start: 5;
                }
                
                .img8 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-row-start: 7;
                }
                
                .img9 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-row-start: 7;
                }
                
                .img10 {
                    grid-column: span 1 / span 1;
                    grid-row: span 2 / span 2;
                    grid-row-start: 7;
                }
            }
                    
        }
    }
    .services {
        .article-services {
            width: 100%;
            height: 15%;
            .title-principal {
                padding-left: 35px;
            }
        }   
        .aside-services {
            width: 100%;
            height: 85%;
            .slider {
                width: 100%;
                height: 100%;
                overflow-x: auto;
                .element-slider {
                    min-width: 380px;
                    width: 100%;
                    max-height: 650px;
                    height: 100%;
                }
            }
        }
    }
}